@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", "Roboto", sans-serif;
  color: aliceblue;
}

:root {
  background-color: rgb(13, 20, 46);
}
